:root {
  --attitude-dark-brown: #794f00;
  --attitude-light-brown: #8f5d00;
  --attitude-blue: #0001d8;
}

.attitude-sky {
  fill: var(--attitude-blue);
}
.attitude-ground {
  fill: var(--attitude-dark-brown);
}
.attitude-ground-inner {
  fill: var(--attitude-light-brown);
}
.foreground-attitude {
  z-index: 999;
  position: absolute;
}
