/* temp_stylePlugin:ni:sha-256;47DEQpj8HBSa-_TImW-5JCeuQeRkm5NMpJWZG3hSuFU */
/* temp_stylePlugin:ni:sha-256;SwL0cjM1H1Y2v7-o_-slf4eMdw-gqd5b43S0hWj4-iU */
#IES_ROOT {
  color: white;
  font-family:
    Arial,
    Helvetica,
    sans-serif;
  font-size: 50px;
}

/* temp_stylePlugin:ni:sha-256;FM7ztogqEDR9tseo-s5-DsB5BWzoe3VZHNPMskuCWdw */
.horizon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
