.home-button-debug {
  position: absolute;
  top: 55px;
  left: 1546px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background-color: cadetblue;
  user-select: none;
}
