/* temp_stylePlugin:instruments\src\PFD\index.scss */
text {
  font-family:
    Arial,
    Helvetica,
    sans-serif;
}

/* temp_stylePlugin:instruments\src\PFD\Components\AttitudeDisplay\index.scss */
.attitude-ground {
  fill: url(#ground-gradient);
}
.attitude-sky {
  fill: url(#sky-gradient);
}
.foreground-attitude {
  z-index: 999;
  position: absolute;
}

/* temp_stylePlugin:instruments\src\PFD\Components\Airspeed\index.scss */

/* temp_stylePlugin:instruments\src\PFD\Components\VerticalSpeed\index.scss */
.vsText {
  stroke: black;
  stroke-width: 2px;
  paint-order: stroke;
  font-size: 36px;
  fill: white;
}
