/* temp_stylePlugin:instruments\src\PFD\index.scss */
text {
  font-family:
    Arial,
    Helvetica,
    sans-serif;
}
.top-component {
  height: 460px;
  width: 600px;
}
.bottom-component {
  height: 340px;
  width: 600px;
}

/* temp_stylePlugin:instruments\src\PFD\Components\AttitudeDisplay\Attitude.scss */
:root {
  --attitude-dark-brown: #794f00;
  --attitude-light-brown: #8f5d00;
  --attitude-blue: #0001d8;
}
.attitude-continer {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 460px;
  width: 600px;
}
.attitude-sky {
  fill: var(--attitude-blue);
}
.attitude-ground {
  fill: var(--attitude-dark-brown);
}
.attitude-ground-inner {
  fill: var(--attitude-light-brown);
}
.foreground-attitude {
  z-index: 999;
  position: absolute;
}

/* temp_stylePlugin:instruments\src\PFD\Components\Altitude\Altitude.scss */
.altitude-continer {
  position: absolute;
  top: 28px;
  right: 54px;
  width: 120px;
  height: 422px;
}
.altitude-svg {
  position: absolute;
  left: 0px;
  width: 120px;
  height: 100%;
}

/* temp_stylePlugin:instruments\src\PFD\Components\Airspeed\airspeed.scss */
.airspeed-container {
  position: absolute;
  top: 54px;
  left: 0px;
  width: 140px;
  height: 396px;
}
.airspeed-svg {
  position: absolute;
  left: 0px;
  width: 81px;
  height: 100%;
}

/* temp_stylePlugin:instruments\src\PFD\Components\Compass\index.scss */
