@import 'leaflet/dist/leaflet.css';

@font-face {
  font-family: OuroborosMFD;
  src: url('/Fonts/Ouroboros_SCREEN_FONT.ttf') format('truetype');
}
#ROOT_ELEMENT,
#MSFS_REACT_MOUNT {
  width: 600px;
  height: 800px;
  cursor: none;
  font-family: Arial, Helvetica, sans-serif;
  // background-image: url('./mfd.png');
  background-size: cover;
  user-select: none;
}
div {
  color: white;
}
.system-button {
  height: 50px;
}
#MAP {
  transform: rotate(265deg);
  pointer-events: none;
}
#MAP > * svg {
  pointer-events: none;
}
.leaflet-interactive {
  pointer-events: none !important;
  stroke-width: 2px !important;
}
