/* temp_stylePlugin:ni:sha-256;_b5SUsODaco8HjjenuIWt9SP4DTJuYDuzKdr9CTOlSc */
.component-provider-wrapper {
  color: white;
  display: flex;
  flex-direction: row;
  width: 600px;
  height: 800px;
  justify-content: space-between;
}
.component-provider-left {
  width: 345px;
  display: flex;
  flex-direction: column;
}
.component-provider-right {
  display: flex;
  width: 255px;
  flex-direction: column;
}
.component-provider-left-parent,
.component-provider-flaps,
.component-provider-vib,
.component-provider-oil,
.component-provider-fuel,
.component-provider-engine {
  padding-left: 5px;
  padding-bottom: 5px;
  box-shadow: inset 0 -5px 0 0 grey;
  display: flex;
  justify-content: center;
  align-items: center;
}
.component-provider-engine {
  height: 420px;
}
.component-provider-fuel {
  height: 90px;
}
.component-provider-oil {
  height: 75px;
}
.component-provider-vib {
  height: 68px;
}
.component-provider-flaps {
  height: 127px;
  box-shadow: none;
}
.component-provider-right-parent,
.component-provider-trim,
.component-provider-cabin,
.component-provider-apu,
.component-provider-lg,
.component-provider-cas {
  padding-left: 5px;
  padding-bottom: 5px;
  box-shadow:
    inset 5px 0 0 0 grey,
    inset 0 -5px 0 0 grey,
    inset 0 1px 0 0 black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.component-provider-cas {
  height: 400px;
}
.component-provider-cas:hover {
  box-shadow: inset 5px 0 0 0 cyan, inset 0 -5px 0 0 cyan;
}
.component-provider-lg {
  height: 110px;
}
.component-provider-apu {
  height: 30px;
}
.component-provider-cabin {
  height: 110px;
}
.component-provider-trim {
  box-shadow: inset 5px 0 0 0 grey;
  height: 130px;
}
.declutter-hidden-right {
  box-shadow: inset 5px 0 0 0 grey;
}
.declutter-hidden-left {
  box-shadow: none;
}

/* temp_stylePlugin:ni:sha-256;47DEQpj8HBSa-_TImW-5JCeuQeRkm5NMpJWZG3hSuFU */

/* temp_stylePlugin:ni:sha-256;9DcHPq6rrWG0KTwB0XjOeeUeGCQQg8I9sREnaaH5aiY */
.itt-gauge-container-absolute {
  position: absolute;
  width: 150px;
  height: 145px;
  top: 220px;
}

/* temp_stylePlugin:ni:sha-256;nO9DUfXrugr7l1senNY7m-l8eoiNA1BQl2n-Yo2D0X4 */
.engine-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}
.flex-row {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-direction: row;
}

/* temp_stylePlugin:ni:sha-256;i8_dv-1gSphObPwi1fiSkNE10LYZhn_r4xf0kNsRv9A */
#EICAS_ROOT {
  width: 600px;
  height: 800px;
  color: white;
  font-family:
    Arial,
    Helvetica,
    sans-serif;
}
