.upper-button-bar-container {
  display: flex;
  flex-direction: row;
  width: 600px;
  justify-content: space-between;
  height: 53px;
  background-color: #797878;
}

.lower-button-bar-container {
  display: flex;
  flex-direction: row;
  width: 600px;
  justify-content: space-evenly;
  height: 53px;
  background-color: #797878;
}
.button-container {
  position: relative;
  display: flex;
  height: 45px;
  flex: 1;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  margin-top: 5px;

  &:hover {
    .button-children {
      border: 5px solid cyan;
    }
  }
}
.button-container:not(:last-of-type) {
  margin-right: 10px;
}
.button-center {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 10px;
  pointer-events: none;
  z-index: 10;
}

.button-children {
  display: flex;
  flex: 1;
  height: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 5px;
}

.button-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  border: 5px outset #767776;

  filter: blur(3.5px);
  overflow: hidden;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

  &:active {
    border: 5px inset #797878;
  }
}
.system-button-bar-container {
  position: absolute;
  top: 53px;
  right: 0px;
  width: 240px;

  // background-color: red;
}
.system-button-current-page {
  margin-left: 10px;
  padding: 4px;
  background-color: rgb(58, 58, 58);
  border-radius: 4px;
  width: 70px;
  border: 2px solid white;
}
.active-circle-outer {
  width: 26px;
  height: 26px;
  border-radius: 100%;
  border: 2px solid white;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.active-circle-inner {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: lime;
}
.system-button-container {
  background-color: #767776;
  position: absolute;
  display: flex;
  height: 45px;
  width: 190px;
  right: 0px;
  flex: 1;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  &:hover {
    .system-button-children {
      border: 5px solid cyan;
    }
  }
}
.system-button-center {
  position: relative;
  display: flex;
  width: 160px;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 10px;
  pointer-events: none;
  z-index: 10;
}
.system-button-children {
  display: flex;
  flex: 1;
  border: 5px solid transparent;
  height: 30px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border-radius: 5px;
}
.system-button-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  border: 5px outset #767776;

  filter: blur(3.5px);
  overflow: hidden;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

  &:active {
    border: 5px inset #797878;
  }
}

.system-button-wrapper {
  display: flex;
  position: relative;
  right: 0px;
}
.system-menu-close-button {
  font-size: 22px;
  background-color: #767776;
  padding: 10px;
  width: 30px;
  position: absolute;
  z-index: 999;
  left: 0px;
}

.system-button-center-close {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  z-index: 10;
}
.system-button-children-close {
  display: flex;
  flex: 1;
  border: 5px solid transparent;
  height: 16px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border-radius: 5px;
}
.system-button-background-close {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  border: 5px outset #767776;

  filter: blur(3.5px);
  overflow: hidden;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

  &:active {
    border: 5px inset #797878;
  }
}
