/* temp_stylePlugin:src\instruments\src\RadioSelector\index.scss */
.radio_text {
  font-family: arial;
  color: cyan;
  font-size: 60px;
}
.volume {
  text-align: right;
}
.radio_container {
  width: 23%;
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 30px;
  padding: 30px;
}
