.top-component {
  height: 460px;
  width: 600px;
  // background-color: rgba($color: blue, $alpha: 0.1);
}
.bottom-component {
  height: 340px;
  width: 600px;
  background-color: rgba($color: red, $alpha: 0.1);
}
