/* temp_stylePlugin:src\instruments\src\PrimaryFlightDisplay\index.scss */
.horizon {
  color: white;
}
#PFD-ROOT {
  height: 800px;
  width: 600px;
  font-family:
    Arial,
    Helvetica,
    sans-serif;
}

/* temp_stylePlugin:src\instruments\src\PrimaryFlightDisplay\components\pfdProvider\pfdProvider.scss */
.top-component {
  height: 460px;
  width: 600px;
  background-color: rgba(0, 0, 255, 0.1);
}
.bottom-component {
  height: 340px;
  width: 600px;
  background-color: rgba(255, 0, 0, 0.1);
}

/* temp_stylePlugin:src\instruments\src\PrimaryFlightDisplay\components\FMA\fma.scss */
.fma-container {
  height: 56px;
  width: 374px;
  margin-left: 82px;
  position: absolute;
  margin-top: 28px;
}
.fma-svg {
  height: 100%;
  width: 100%;
}

/* temp_stylePlugin:src\instruments\src\PrimaryFlightDisplay\components\Airspeed\airspeed.scss */
.airspeed-container {
  position: absolute;
  top: 54px;
  left: 0px;
  width: 82px;
  height: 396px;
  background-color: rgba(0, 0, 0, 0.1);
}
.airspeed-svg {
  width: 100%;
  height: 100%;
}
