.airspeed-container {
  position: absolute;
  top: 54px;
  left: 0px;
  width: 140px;
  height: 396px;
  // background-color: rgba($color: red, $alpha: 0.4);
}
.airspeed-svg {
  position: absolute;
  left: 0px;
  width: 81px;
  height: 100%;
}
