/* temp_stylePlugin:src\instruments\src\ElectronicFlightBag\index.scss */
:root {
  color: white;
  --redish: #b51f42;
  --image: url(https://images6.alphacoders.com/132/1323578.png);
  font-size: xx-large;
  font-family:
    Arial,
    Helvetica,
    sans-serif;
}
body {
  background-image: var(--image);
  background-size: cover;
}
